<section class="col-md-4 col-md-offset-4 app-container" ng-if="!vm.username">
  <div game-register></div>
</section>

<section class="col-md-8 col-md-offset-2 app-container" ng-if="vm.username">
  <div class="row">
    <div class="col-md-12 app-header">
      <header class="site-title">Cards Against Humanity</header>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 app-body">
      <div game-lobby></div>
    </div>
    <div class="col-md-3 player-list-container">
      <div game-player-list></div>
    </div>
  </div>
</section>
