<!DOCTYPE html>
<html ng-app="cardsAgainstApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Cards Against</title>
</head>
<body>
<h1>Cards Against Humanity</h1>

<div ng-view></div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
<!--<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>-->
<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
<script src="angular-route.js"></script>
<script src="app.js"></script>

<script>
    var socket = io.connect('http://localhost:8082');

    socket.on('player joined', function(players) {
        console.log(players);
    });
//
//    $(function() {
//        $("#join").click(function() {
//            var playerName = $("#playerName").val();
//            socket.emit('register player', playerName)
//        })
//    });
</script>

</body>
</html>