<form class="form-inline">
  <div class="form-group col-md-4">
    <div class="input-group ">
      <label for="gameTime">Game Time</label>
      <input type="number" id="gameTime" ng-model="vm.settings.gameTime" required />
    </div>
  </div>
  <div class="form-group col-md-4">
    <div class="input-group">
      <label for="judgeTime">Judge Time</label>
      <input type="number" id="judgeTime" ng-model="vm.settings.judgeTime" required />
    </div>
  </div>
  <div class="form-group col-md-4">
    <div class="input-group">
      <label for="winningPoints">Winning Points</label>
      <input type="number" id="winningPoints" ng-model="vm.settings.winningPoints" required />
    </div>
  </div>
</div>
