<div class="row">
  <div class="col-md-3">
    <div game-topic></div>
    <div game-timer end-time="{{ vm.gameData.timerExpires }}"></div>
  </div>
  <div class="col-md-9" ng-if="vm.gameData.state == 'PlayersChoose'">
    <div ng-if="!vm.playerData.isJudge">
      <header>Choose a card</header>
      <div player-cards></div>
    </div>
    <div ng-if="vm.playerData.isJudge">
      You're the Judge!<br />
      Waiting for players to finish
    </div>
  </div>

  <div class="col-md-9" ng-if="vm.gameData.state == 'JudgeChoose'">
    <div ng-if="vm.playerData.isJudge">
      <header>Pick a winner!</header>
      <div judge-cards></div>
    </div>
    <div ng-if="!vm.playerData.isJudge">
      <header>Waiting for judge to finish</header>
    </div>
  </div>

  <div class="col-md-9" ng-if="vm.gameData.state == 'ShowWinner'">
    {{vm.roundData.winner}} won!
  </div>
</div>
